<?xml version="1.0" encoding="UTF-8" ?>
<!-- XML configuration file for the PHPUnit testing framework in PHP-->
<phpunit bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFaliure="false">

    <testsuites>
        <testsuite name="twinCities">
            <directory>tests</directory>

        </testsuite>
    </testsuites>
</phpunit>

