body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
}

h1,h2 {
  text-align: center;
}

#manchesterMap {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border: 1px solid gray;
}

#wuhanMap {
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border: 1px solid gray;
}

p {
  background-color: white;
}

h3 {
  color: blue;
}

#infowindowimg {
  width: 120px;
  height: 50px;
}